@mixin clearFix {
  &::after {
    content:"";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

//ORDER: base + typograpy > general layout + grid > page layout > components


@mixin respond($breakpoint) {
  @if $breakpoint == phone { //600px here is better to use "em"
    @media only screen and (max-width: 37.5em) { @content };
    // the"only screen" is a good practice so it doesn affect prints, just screens
  }
  @if $breakpoint == tab-port { //900px
    @media only screen and (max-width: 56.25em) { @content };
  }
  @if $breakpoint == tab-land { //1200px
    @media only screen and (max-width: 75em) { @content };
  }
  @if $breakpoint == big-desktop { //1800px
    @media only screen and (max-width: 112.5em) { @content };
  }
}